In [1]:

import re
from string import punctuation

text = '1. Histologic section of adrenal metastatic disease (hematoxylin and eosin, ×100). 2 Tumor cells arranged in solid nests infiltrating lymph node tissue. yes? as follows:'

x1 = re.sub('[0-9]+', '', text)
print(x1)

x2 = re.sub('\(.*\)', '', x1)
print(x2)

x3 = re.sub('\<+/*\w*/*\>+', '', x2)
print(x3)
x4 = re.sub('[.,!?;:@]','',x3)
x5 = x4.split()
tokens= []
for term in x5:
    if term not in punctuation:
        print(term)
        tokens+=term
tokens

. Histologic section of adrenal metastatic disease (hematoxylin and eosin, ×).  Tumor cells arranged in solid nests infiltrating lymph node tissue. yes? as follows:
. Histologic section of adrenal metastatic disease .  Tumor cells arranged in solid nests infiltrating lymph node tissue. yes? as follows:
. Histologic section of adrenal metastatic disease .  Tumor cells arranged in solid nests infiltrating lymph node tissue. yes? as follows:
Histologic
section
of
adrenal
metastatic
disease
Tumor
cells
arranged
in
solid
nests
infiltrating
lymph
node
tissue
yes
as
follows

['H',
 'i',
 's',
 't',
 'o',
 'l',
 'o',
 'g',
 'i',
 'c',
 's',
 'e',
 'c',
 't',
 'i',
 'o',
 'n',
 'o',
 'f',
 'a',
 'd',
 'r',
 'e',
 'n',
 'a',
 'l',
 'm',
 'e',
 't',
 'a',
 's',
 't',
 'a',
 't',
 'i',
 'c',
 'd',
 'i',
 's',
 'e',
 'a',
 's',
 'e',
 'T',
 'u',
 'm',
 'o',
 'r',
 'c',
 'e',
 'l',
 'l',
 's',
 'a',
 'r',
 'r',
 'a',
 'n',
 'g',
 'e',
 'd',
 'i',
 'n',
 's',
 'o',
 'l',
 'i',
 'd',
 'n',
 'e',
 's',
 't',
 's',
 'i',
 'n',
 'f',
 'i',
 'l',
 't',
 'r',
 'a',
 't',
 'i',
 'n',
 'g',
 'l',
 'y',
 'm',
 'p',
 'h',
 'n',
 'o',
 'd',
 'e',
 't',
 'i',
 's',
 's',
 'u',
 'e',
 'y',
 'e',
 's',
 'a',
 's',
 'f',
 'o',
 'l',
 'l',
 'o',
 'w',
 's']

In [2]:
from nltk.tokenize import sent_tokenize, TweetTokenizer
from string import punctuation
tokenizer = TweetTokenizer()

def preprocess_document(content):
    """
    Returns a list of tokens for a document's content. 
    Tokens should not contain punctuation and should be lower-cased.
    """
    sentences = sent_tokenize(content)
    tokens = []
    for _sent in sentences:
#         print("-------------------------------------1")
#         print(_sent)
        remNumb = re.sub('[0-9]+', ' ', _sent)
#         print(remNumb)
        #remSymbols = re.sub('[.,!?;:@]',' ',remNumb)
        remParantese = re.sub('\([^()]*\) | \{[^{*}*]*\} | \[[^[]]*\]', ' ', remNumb)
        #print(remParantese)
        #remSymbols = re.sub('[.,!?;:@\\{}[]()',' ',remParantese)
        sent_tokens = tokenizer.tokenize(remParantese)
        #print(sent_tokens)
        sent_tokens = [_tok.lower() for _tok in sent_tokens if _tok not in punctuation]
        tokens += sent_tokens
    return tokens

In [3]:
text= "Upper graph: observed {LAL{jaj aj}ALLA} (filled symbols) and model predicted (lines) response-time data in plasma after oral administration of {\"type\":\"entrez-nucleotide\",\"attrs\":{\"text\":\"LY450139\",\"term_id\":\"1258021836\",\"term_text\":\"LY450139\"}}LY450139 to human volunteers. Data scanned from Siemers et al. (18). Dataset analyzed with a dual action (inhibitory/stimulatory) on the turnover rate of response (Eq. 16). Bottom graph: concentration-response plot with data from all three dose groups collated"
tokens = preprocess_document(text)
tokens

['upper',
 'graph',
 'observed',
 'lal',
 'jaj',
 'aj',
 'alla',
 'and',
 'model',
 'predicted',
 'response-time',
 'data',
 'in',
 'plasma',
 'after',
 'oral',
 'administration',
 'of',
 'type',
 'entrez-nucleotide',
 'attrs',
 ':{',
 'text',
 'ly',
 'term_id',
 'term_text',
 'ly',
 'ly',
 'to',
 'human',
 'volunteers',
 'data',
 'scanned',
 'from',
 'siemers',
 'et',
 'al',
 'dataset',
 'analyzed',
 'with',
 'a',
 'dual',
 'action',
 'on',
 'the',
 'turnover',
 'rate',
 'of',
 'response',
 'eq',
 'bottom',
 'graph',
 'concentration-response',
 'plot',
 'with',
 'data',
 'from',
 'all',
 'three',
 'dose',
 'groups',
 'collated']

In [4]:
#from operator import itemgetter
sortedTermsPostings = sorted(tokens,key=lambda x: x[0])
sortedTermsPostings

[':{',
 'aj',
 'alla',
 'and',
 'after',
 'administration',
 'attrs',
 'al',
 'analyzed',
 'a',
 'action',
 'all',
 'bottom',
 'concentration-response',
 'collated',
 'data',
 'data',
 'dataset',
 'dual',
 'data',
 'dose',
 'entrez-nucleotide',
 'et',
 'eq',
 'from',
 'from',
 'graph',
 'graph',
 'groups',
 'human',
 'in',
 'jaj',
 'lal',
 'ly',
 'ly',
 'ly',
 'model',
 'observed',
 'oral',
 'of',
 'on',
 'of',
 'predicted',
 'plasma',
 'plot',
 'response-time',
 'rate',
 'response',
 'scanned',
 'siemers',
 'type',
 'text',
 'term_id',
 'term_text',
 'to',
 'the',
 'turnover',
 'three',
 'upper',
 'volunteers',
 'with',
 'with']

In [5]:
tokens2 = preprocess_document(open('../exercises/assets/medImages.jl').read())

In [9]:
from nltk.tokenize import sent_tokenize, TweetTokenizer
from string import punctuation
tokenizer = TweetTokenizer()
import regex

import re
from string import punctuation

def preprocess_document(content):
    """
    Returns a list of tokens for a document's content. 
    Tokens should not contain punctuation and should be lower-cased.
    """
    sentences = sent_tokenize(content)
    tokens = []
    for _sent in sentences:
#         print("-------------------------------------1")
#         print(_sent)
        remNumb = re.sub('[0-9]+', ' ', _sent)
#         print(remNumb)
        #remSymbols = re.sub('[.,!?;:@]',' ',remNumb)
        remParantese = regex.sub(r'\([^()]*+(?:(?R)[^()]*)*+\)', '', remNumb) 
        remParantese2 = regex.sub('\{(?:[^}{]|\{[^}{]*\})*\}', '', remParantese) 
        #print(remParantese)
        #remSymbols = re.sub('[.,!?;:@\\{}[]()',' ',remParantese)
        sent_tokens = tokenizer.tokenize(remParantese2)
        #print(sent_tokens)
        sent_tokens = [_tok.lower() for _tok in sent_tokens if _tok not in punctuation]
        tokens += sent_tokens
    return tokens

In [10]:
text= "Upper graph: observed {LAL {jaj aj} ALLA} fd (filled symbols) and model predicted (lines) response-time data in plasma after oral administration of {\"type\":\"entrez-nucleotide\",\"attrs\":{\"text\":\"LY450139\",\"term_id\":\"1258021836\",\"term_text\":\"LY450139\"}}LY450139 to human volunteers. Data scanned from Siemers et al. (18). Dataset analyzed with a dual action (inhibitory/stimulatory) on the turnover rate of response (Eq. 16). Bottom graph: concentration-response plot with data from all three dose groups collated"
tokens = preprocess_document(text)
tokens

['upper',
 'graph',
 'observed',
 'fd',
 'and',
 'model',
 'predicted',
 'response-time',
 'data',
 'in',
 'plasma',
 'after',
 'oral',
 'administration',
 'of',
 'ly',
 'to',
 'human',
 'volunteers',
 'data',
 'scanned',
 'from',
 'siemers',
 'et',
 'al',
 'dataset',
 'analyzed',
 'with',
 'a',
 'dual',
 'action',
 'on',
 'the',
 'turnover',
 'rate',
 'of',
 'response',
 'eq',
 'bottom',
 'graph',
 'concentration-response',
 'plot',
 'with',
 'data',
 'from',
 'all',
 'three',
 'dose',
 'groups',
 'collated']

In [8]:
'\((?:[^)(]|\([^)(]*\))*\)'

'\\((?:[^)(]|\\([^)(]*\\))*\\)'

In [104]:
import pandas as pd
import sklearn as sk
import math

In [105]:
first_sentence = "Data Science is the sexiest job of the 21st century"
second_sentence = "machine learning is the key for data science"
#split so each word have their own string
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")
#join them to remove common duplicate words
total= set(first_sentence).union(set(second_sentence))
# print(total)
total

{'21st',
 'Data',
 'Science',
 'century',
 'data',
 'for',
 'is',
 'job',
 'key',
 'learning',
 'machine',
 'of',
 'science',
 'sexiest',
 'the'}

In [106]:
import nltk
# from nltk.corpus import stopwords
# set(stopwords.words('english'))

stopwords = ['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn', "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']

filtered_total = [w for w in total if not w in stopwords]
filtered_total

['science',
 '21st',
 'sexiest',
 'Data',
 'century',
 'key',
 'machine',
 'learning',
 'Science',
 'data',
 'job']

In [110]:
wordDictA = dict.fromkeys(filtered_total, 0) 
wordDictB = dict.fromkeys(filtered_total, 0)
for word in first_sentence:
    if wordDictA.get(word) != None:
        wordDictA[word]+=1

for word in second_sentence:
    if wordDictB.get(word) != None:
        wordDictB[word]+=1
    
    
wordDictA

{'science': 0,
 '21st': 1,
 'sexiest': 1,
 'Data': 1,
 'century': 1,
 'key': 0,
 'machine': 0,
 'learning': 0,
 'Science': 1,
 'data': 0,
 'job': 1}

In [111]:
pd.DataFrame([wordDictA, wordDictB])

,21st,Data,Science,century,data,job,key,learning,machine,science,sexiest
0,1,1,1,1,0,1,0,0,0,0,1
1,0,0,0,0,1,0,1,1,1,1,0

In [112]:
import nltk
# from nltk.corpus import stopwords
# set(stopwords.words('english'))

stopwords = ['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn', "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']
# wordDictA_f = [wordDictA_f[w[0]]=w[1] for w in wordDictA.items() if not w[0] in stopwords]
wordDictA_f = {}
for item in wordDictA.items():
    if item[0] not in stopwords:
        wordDictA_f[item[0]] = item[1]
wordDictB_f = {}
for item in wordDictB.items():
    if item[0] not in stopwords:
        wordDictB_f[item[0]] = item[1]
wordDictA_f

{'science': 0,
 '21st': 1,
 'sexiest': 1,
 'Data': 1,
 'century': 1,
 'key': 0,
 'machine': 0,
 'learning': 0,
 'Science': 1,
 'data': 0,
 'job': 1}

In [83]:
wordDictB_f

{'science': 1,
 '21st': 0,
 'sexiest': 0,
 'Data': 0,
 'century': 0,
 'key': 1,
 'machine': 1,
 'learning': 1,
 'Science': 0,
 'data': 1,
 'job': 0}

In [61]:
pd.DataFrame([wordDictA_f, wordDictB_f])

,0,1,2,3,4,5,6,7,8,9,10
0,science,21st,sexiest,Data,century,key,machine,learning,Science,data,job
1,science,21st,sexiest,Data,century,key,machine,learning,Science,data,job

In [113]:
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
        tfDict[word] = count/float(corpusCount)
    return(tfDict)
#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, first_sentence)
tfSecond = computeTF(wordDictB, second_sentence)
#Converting to dataframe for visualization
tf = pd.DataFrame([tfFirst, tfSecond])
tf

,21st,Data,Science,century,data,job,key,learning,machine,science,sexiest
0,0.1,0.1,0.1,0.1,0.000,0.1,0.000,0.000,0.000,0.000,0.1
1,0.0,0.0,0.0,0.0,0.125,0.0,0.125,0.125,0.125,0.125,0.0

In [116]:
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
#     print(idfDict)
    for word, val in idfDict.items():
#         print(word)
        idfDict[word] = math.log10(N / (float(val) + 1))
        
    return(idfDict)
#inputing our sentences in the log file
idfs = computeIDF([wordDictA, wordDictB])

In [119]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
idfFirst

{'science': 0.0,
 '21st': 0.03010299956639812,
 'sexiest': 0.03010299956639812,
 'Data': 0.03010299956639812,
 'century': 0.03010299956639812,
 'key': 0.0,
 'machine': 0.0,
 'learning': 0.0,
 'Science': 0.03010299956639812,
 'data': 0.0,
 'job': 0.03010299956639812}

In [120]:
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond])